<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="WatiN.Core" publicKeyToken="db7cfd3acb5ad44e" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-2.0.50.1179" newVersion="2.0.50.1179" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="FluentSharp.WinForms" publicKeyToken="55a0f9bf4256d533" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.3.0.0" newVersion="5.3.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>